div.container
	div.row
		div.col-xs-12.col-sm-12.col-md-12.col-lg-12
			div.page-header
				h1.center 403 Forbidden
			p.center Sorry, you don't have permission to view that page.
			div.center
				a.btn.btn-primary(href="/home") Go Home