.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.breadcrumb
				li
					a(href="/home") Home
				li
					a(href="/settings") Settings
				li
					a(href="/settings/users") Users
				li.active User Permissions
			.page-header
				h1.center User Permissions for&nbsp;
					span.italic {{ User.name }}

			table.table.table-bordered.table-striped.table-hover
				thead
					tr
						th
						th Enabled?
				tbody
					tr.js-user-permissions-tr(ng-repeat="Permission in Permissions")
						td {{ Permission.name }} {{ Permissions.clicked ? 'yes' : 'no' }}
						td(ng-click="clickColumn(Permission)")
							input(type="checkbox", ng-model="Permission.clicked", ng-disabled="User.admin")
