.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.breadcrumb
				li
					a(href="/") Home
				li
					a(href="/settings") Settings
				li
					a(href="/settings/users") Users
				li.active User Permissions
			.page-header
				h1.center User Permissions for&nbsp;
					span.italic {{ User.name }}

			table.table.table-bordered.table-striped.table-hover
				thead
					tr
						th
						th Create
						th Delete
						th Edit
						th View
				tbody
					tr.js-user-permissions-tr(ng-repeat="Section in Sections")
						td {{ Section.name }}
						td(ng-click="clickColumn(Section.create, Section.value, 'add')")
							input(type="checkbox", ng-if="Section.create", ng-model="User.Permissions[Section.value]['add'].access")
						td(ng-click="clickColumn(Section.delete, Section.value, 'delete')")
							input(type="checkbox", ng-if="Section.delete", ng-model="User.Permissions[Section.value]['delete'].access")
						td(ng-click="clickColumn(Section.edit, Section.value, 'update')")
							input(type="checkbox", ng-if="Section.edit", ng-model="User.Permissions[Section.value]['update'].access")
						td(ng-click="clickColumn(Section.view, Section.value, 'view')")
							input(type="checkbox", ng-if="Section.view", ng-model="User.Permissions[Section.value]['view'].access")
