/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
/public/css
/public/directives
/public/js
/public/fonts
/public/templates
/public/views
/public/images
/.idea
!/resources/views
/resources/views/*
!/resources/views/vendor
.vagrant
after.sh
aliases