.message.alert.alert-dismissable.slide-animation.col-xs-12.col-sm-12.col-md-12.col-lg-8(ng-controller="MessageController", ng-show="data.showMessage", ng-class="data.messageClass")
	button.close(type="button", ng-click="closeMessage()") ×
	span(ng-bind-html="data.message")