label.control-label(for="incomeCategoryId") Income Category
select#incomeCategoryId.form-control(ng-model="ngModel", ng-attr-name="{{ name }}" ng-options="IncomeCategory.id as IncomeCategory.name for IncomeCategory in IncomeCategories", ng-show="ngModel !== 'new'", ng-required="{{ required }}")
	option(value="") -- Select --
.input-group(ng-show="ngModel === 'new'", ng-class="{ 'has-error': hasError }")
	input.form-control(type="text", placeholder="New Income Category", ng-model="newCategory")
	span.input-group-btn
		button.btn.btn-primary(type="button", ng-click="save()") Save
		button.btn.btn-default(type="button", ng-click="ngModel = ''") Cancel
