.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.breadcrumb
				li
					a(href="/home") Home
				li.active Income
			.page-header
				h1.center Income
			form.form-horizontal.center
				.form-group
					.col-sm-1.col-md-2.col-lg-3
					label.col-sm-4.col-md-3.col-lg-2.control-label(for="budgetFilter") Show:
					.col-sm-4.col-md-3.col-lg-2
						select#budgetFilter.form-control(name="filter", ng-change="filter()", ng-model="filterVal")
							option(value="") All Income
							option(value="without") Income Without Budgets
							option(value="with") Income With Budgets
					.col-sm-3.col-md-4.col-lg-5

			div(ng-if="Incomes")
				div
					.pull-left.width-33.text-left
						a(href="/income/create") + Create Income
					.pull-left.width-33.text-center Income:&nbsp;
						strong {{ Incomes.length }}
					.pull-left.width-33.text-right
						a(href="/banking/import") + Import Income/Expenses

				table.table.table-bordered.table-striped.table-hover.table-cog
					thead
						tr
							th Date
							th Description
							th Category
							th Amount
							th(data-sorter="false", style="width:16px;")
					tbody
						tr(ng-repeat="Income in Incomes.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)")
							td {{ Income.datetime|standardDate }}
							td {{ Income.description }}
							td {{ Income.incomeCategory.name }}
							td ${{ Income.amount|number:2 }}
							td(uib-dropdown)
								span.glyphicon.glyphicon-cog(uib-dropdown-toggle)
								ul.pull-right(uib-dropdown-menu)
									li
										a(ng-click="editIncome(Income)") Edit
									li
										a.cursor-pointer(ng-click="deleteIncome(Income)") Delete
									li(ng-show="!Income.budgetIncome.id")
										a(ng-click="addToBudget(Income)") Add To Budget
				uib-pagination(total-items="Incomes.length", ng-model="currentPage", items-per-page="itemsPerPage", ng-change="uibPageChange(currentPage)")

			div.center(ng-if="!Incomes") No income created yet.&nbsp;
				a(href="/income/create") + Create One
				span &nbsp;or&nbsp;
				a(href="/banking/import") + Import Some