form(name="categoryRowExpenseDeleteForm")
	.modal-header
		button.close(type="button", ng-click="close()", aria-hidden="true") ×
		h3 Delete Category Item
	.modal-body Are you sure you want to delete "{{ BudgetCategoryRowExpense.expense.description }}"?
	.modal-footer
		button.btn.btn-primary(type="button", ng-click="delete()") Delete
		button.btn.btn-default(type="button", ng-click="cancel()", aria-hidden="true") Cancel