div.container
	div.row
		div.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.breadcrumb
				li.active Home
			div.page-header
				h1.center Home

			div.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-if="perms.admin || perms.accounts || perms.import")
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Banking
					div.panel-body
						ul.nav.nav-pills.nav-stacked
							li(ng-if="perms.admin || perms.accounts")
								a(href="/banking/accounts") Accounts
							li(ng-if="perms.admin || perms.accounts")
								a(ng-click="linkAccount()") Connect
							li(ng-if="perms.admin || perms.import")
								a(href="/banking/import") Import
							li(ng-if="perms.admin || perms.accounts")
								a(href="/banking/update", ng-click="isNavCollapsed = true") Update
			div.col-xs-12.col-sm-6.col-md-4.col-lg-3
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Budgets
					div.panel-body
						ul.nav.nav-pills.nav-stacked
							li
								a(href="/budgets") Budgets
							li(ng-if="perms.admin || perms.budgetTemplates")
								a(href="/budgets/templates") Budget Templates

			div.col-xs-12.col-sm-6.col-md-4.col-lg-3
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Expenses
					div.panel-body
						ul.nav.nav-pills.nav-stacked
							li
								a(href="/expenses") Expenses
							li
								a(href="/expenses/categories") Expense Categories

			div.col-xs-12.col-sm-6.col-md-4.col-lg-3
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Income
					div.panel-body
						ul.nav.nav-pills.nav-stacked
							li
								a(href="/income") Income
							li
								a(href="/income/categories") Income Categories

			div.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-if="perms.admin || perms.colorScheme")
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title Settings

					div.panel-body
						ul.nav.nav-pills.nav-stacked
							li(ng-if="perms.admin")
								a(href="/settings") Settings Home
							li(ng-if="perms.admin")
								a(href="/settings/users") User Management
							li(ng-if="perms.admin || perms.colorScheme")
								a(href="/settings/colors") Color Scheme