.container
	.row.center
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.spacer-30
			.jumbotron
				h1 Cudget
				p The custom budgeting app for all your needs. And it's free!
				a.btn.btn-primary.btn-lg(href="/signup") Sign Me Up