div
	span Please click&nbsp;
	a(href="{{ $activationUrl }}") here
	span &nbsp;to active your account. Please note that this link will expire after 24 hours.
	br
	span Alternatively, you can copy and paste this link: {{ $activationUrl }}