div.footer-spacer
div#footer.footer.panel-footer
	div.container
		p.text-center &copy; {{ $year }} Cudget. All rights reserved.

script(type="text/javascript") window.bootswatch = '{{ $bootswatch }}'; window.csrf = '{{ $csrf }}'; window.AuthUser = {!! $AuthUser !!}; window.perms = {!! $perms !!};
	| window.errors = @if(Session::has('error'))
	|    {!! json_encode(session('error')) !!}
	| @else
	|    {{ '{}' }}
	| @endif
	| ;
	| window.info = @if(Session::has('info'))
	|    {!! json_encode(session('info')) !!}
	| @else
	|    {{ '{}' }}
	| @endif
	| ;
script(src="{{ mix('/js/manifest.js') }}" type="text/javascript")
script(src="{{ mix('/js/vendor.js') }}" type="text/javascript")
script(src="{{ mix('/js/app.js') }}" type="text/javascript")