div.navbar.navbar-default.navbar-fixed-top(role="navigation" ng-controller="HeaderController")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button" ng-click="isNavCollapsed = !isNavCollapsed")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/home") Cudget
		div.collapse.navbar-collapse.navbar-responsive-collapse(uib-collapse="isNavCollapsed")
			ul.nav.navbar-nav
				li(ng-class="{ active: isActiveBaseUri('/') }")
					a(href="/home") Home

				li.dropdown(ng-class="{ active: isActiveBaseUri('/budgets') }", uib-dropdown)
					a(uib-dropdown-toggle) Budgets
						b.caret
					ul.dropdown-menu
						li(ng-class="{ active: isActiveUri('/budgets') }")
							a(href="/budgets") Budgets
						li(ng-class="{ active: isActiveUri('/budgets/templates') }", ng-if="perms.admin || perms.budgetTemplates")
							a(href="/budgets/templates") Budget Templates

				li.dropdown(ng-class="{ active: isActiveBaseUri('/expenses') }", uib-dropdown)
					a(uib-dropdown-toggle) Expenses
						b.caret
					ul.dropdown-menu
						li(ng-class="{ active: isActiveUri('/expenses') }")
							a(href="/expenses") Expenses
						li(ng-class="{ active: isActiveUri('/expenses/categories') }")
							a(href="/expenses/categories") Expense Categories

				li.dropdown(ng-class="{ active: isActiveBaseUri('/income') }", uib-dropdown)
					a(uib-dropdown-toggle) Income
						b.caret
					ul.dropdown-menu
						li(ng-class="{ active: isActiveUri('/income') }")
							a(href="/income") Income
						li(ng-class="{ active: isActiveUri('/income/categories') }")
							a(href="/income/categories") Income Categories
				li(ng-class="{ active: isActiveBaseUri('/import') }", ng-if="perms.admin || perms.import")
					a(href="/import") Import

			ul.nav.navbar-nav.navbar-right(style="margin-right:0px;")
				li(ng-class="{ active: isActiveBaseUri('/settings') }", uib-dropdown, ng-if="perms.admin || perms.colorScheme")
					a(uib-dropdown-toggle) Settings
						b.caret
					ul.dropdown-menu
						li(ng-class="{ active: isActiveUri('/settings') }", ng-if="perms.admin")
							a(href="/settings") Settings Home
						li(ng-class="{ active: isActiveUri('/settings/users') }", ng-if="perms.admin")
							a(href="/settings/users") User Management
						li(ng-class="{ active: isActiveUri('/settings/colors') }", ng-if="perms.admin || perms.colorScheme")
							a(href="/settings/colors") Color Scheme
				li
					a(href="/logout" target="_self") Logout
div.nav-spacer